/* CSS Document */
.blue
			{ 
				border: 1pt solid #4AB2D0 ; 
			}

.blue 
	h1
			{ 
				color: #4AB2D0 ; 
			}
	
.blue 
	strong 
			{ 
				color: #fff ; 
			}

.blue.toolbar
			{ 
				background-color: #4AB2D0 ; 
			}

.blue
	.answers
		li.selected_true
			{
				background-color: #4AB2D0 ;
				border-color: #4AB2D0 ;
			}
			
.blue
	.answers
		li:hover
			{
				border-color: #4AB2D0 !important ;
			}
			
.blue
	.answers
		li:active
			{
				border-color: #000 ;
			}

.blue
	.pagination
		li
			{
				border-color: #4AB2D0 ;
				background-color: #fff ;
			}

.blue
	.pagination
		li.true
			{
				border-color: #fff !important ;
				background-color: #4AB2D0 ;
			}
			
.blue 
	.entries_controls 
		input[type=button]
			{ 
				background-color: #4AB2D0 ;
			}
