/* CSS Document */
.grey
			{ border: 1pt solid #ccc ; }

.grey 
	h1
			{ color: #ccc ; }

.grey 
	strong 
			{ color: #fff ; }

.grey.toolbar
			{ background-color: #ccc ; }

.grey
	.answers
		li.selected_true
			{
				border-color: #ccc !important ;
			}
			

.grey
	.pagination
		li
			{
				background: #fff ;
			}

.grey
	.pagination
		li.true
			{
				border-color: #ccc !important ;
				background: #ccc ;
			}

.grey 
	.entries_controls 
		input[type=button]
			{ 
				/*background-color: #ccc ;*/
			}