/* CSS Document */

.global
			{
				background: #000 ;
				margin: 0 ;
				padding: .4rem 1rem ;
			}
	
.global
	ul
			{ list-style-position: inside ; margin: 0px ; padding: 0px ; }	
.global
	li
			{
				display: inline ;
			}
			
.global
	a
			{
				color: #FF5E00 ;
				text-decoration: none ;
			}

	
.global a:hover,
.global a:focus	
			{
				text-decoration: underline ;
			}