.answer_options
	ul
			{ 
				border: 1pt dashed #ddd ; 
				padding: 0px ; 
				overflow: auto ; 
				display: table ; 
				width: 98% ; 
			}
		
.answer_options
	ul
		li
			{ 
				border: 1pt dashed #aaa ; 
				padding: 0px ; 
				list-style-type: none ; 
				background: #eee ; 
				clear: both ; 
				display: table-row ; 
			}
		

.answer_options 
	label
			{
				padding: 1px ; 
				display: table-cell ; 
				vertical-align: middle ; 
			}

.answer_options 
		.answer_text_label
			{ 
				min-width: 70% ; 
			}

.answer_options 
	.answer_text_label
		input[type=text] 
			{ 
				margin: 1% ; width: 95% ; }

.answer_options 
		.correct_option_checkbox_label
			{ 
				text-align: right ; 
			}
		
		
.entry_text_container
			{
				display: block !important ;
				width: 98% ;
				margin: 1% ;
				padding: 0% ;
				overflow: auto ;
			}


.reactor
	.entry
		.entry_text
			{
				width: 97% ;
				min-height: 5rem ;
				margin:0px ;
			}