/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}





.new_reactors
	{
		width: 40% ;
		display: inline-block ;
		margin: 1rem 1% ;
		padding: 1rem 1% ;
	}
	
.existing_reactors
	{
		width: 40% ;
		display: inline-block ;
		margin: 1rem 1% ;
		padding: 1rem 1% ;
		vertical-align: top ;
	}
	
.toggle_button
	{
		display: inline-block ;
		border: 1pt outset #aaa ;
		background: #aaa ;
		padding: .5rem ;
		min-width: 5rem ;
		text-align: center ;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer ;
	}
	
a.toggle_button, 
a:visited.toggle_button,
a:link.toggle_button
	{
		text-decoration: none ;
		color: #555 ;
	}

a:focus.toggle_button:not(.selected),
a:hover.toggle_button:not(.selected)
	{
		border-color: #4AB2D0 ;
		color: #000 ;
		background: #ccc ;
	}
	
.toggle_button.selected
	{
		display: inline-block ;
		border: 1pt inset  #4AB2D0 ;
		background: #4AB2D0 ;
		color: #fff ;
		cursor: default ;
	}