/* CSS Document */

html		{ 
				margin: 0px ; 
				padding: 0px ; 
				font-size: large ; 
			}
body		{ 
				background: #fff ; 
				max-width: 1000px ; 
				margin: 0rem auto 0rem auto ; 
				/* padding: 0 1rem 1rem ;  */
				font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif ; 
				height: 100% ;
			}
			
.body_content
			{
				padding: 0 1rem ;
			}

h1			
			{ 
				color: #aaa ; 
				margin: 0 ;
				font-size: 1.3rem ; 
			}


.clear_all				
			{ 
				clear: both ; 
			}
						
.filename		
			{ 
				font-size: .65rem ; 
				background: #eee ; 
				padding: .5rem ; 
				margin: 0 1rem ; 
				font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace ; 
			}







.sprite		{ 
				background-repeat: no-repeat ;
				width: 16px ;
				height: 16px ;
				text-indent: -10000rem ;
			}
.unlocker
			{
				background-image: url( ../img/sprites/unlocker.png ) ;
			}
			
.unlocker input[type="checkbox"] { display: none ; }
.unlocker.true
			{
				background-position: 0px 0px ;
			}
.unlocker.false
			{
				background-position: 0px 16px ;
			}
			
/*			
.includer
			{
				background-image: url( ../img/sprites/includer.png ) ;
			}
			
.includer input[type="checkbox"] { display: none ; }
.includer.true
			{
				background-position: top left ;
			}
.includer.false
			{
				background-position: bottom left ;
			}
*/