
.entries_controls 
			{ 
				text-align: center ; 
				background-color: #fff ; 
				padding: .25rem ;
			}


.entries_controls 
	input[type=button],
.entries_controls 
	button
			{ 
				font-size: 1.2rem ;
				/*background: #eee ; */
			}

.pagination
			{ 
				list-style-type: none ; 
				display: block ; 
				padding: 1rem 0px ; 
				margin: 0 ; 
				list-style-position: inside ; 
				vertical-align: text-top ;
				max-height: 1.1rem ;
				overflow: auto ;
				white-space: nowrap ;

				-webkit-border-radius: 3px;
				border-radius: 3px;
				background: #fff ;
				
				-webkit-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.6) ;
				-moz-box-shadow:    inset 1px 1px 3px 0px rgba(50, 50, 50, 0.6) ;
				box-shadow:         inset 1px 1px 3px 0px rgba(50, 50, 50, 0.6) ;
			}

.pagination
	li
			{
				vertical-align: middle ;
				display: inline-block ; 
				min-width: 2rem ; 
				/*min-height: 1rem ; */
				background: #fff ; 
				margin: 0px .5rem ; 
				padding: 0px ;

				-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
				box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

				-webkit-border-radius: 3px;
				border-radius: 3px;

				border: 1pt solid ;
			}
	
.pagination
	li.true
			{
				border: 1pt solid !important ;
			}


.grey
	.pagination
		li
			{
				background: #fff ;
			}

.grey
	.pagination
		li.true
			{
				border-color: #ccc !important ;
				background: #ccc ;
			}


.orange
	.pagination
		li
			{
				border-color: #F0932D !important ;
				background: #fff ;
			}

.orange
	.pagination
		li.true
			{
				border-color: #F0932D !important ;
				background: #F0932D ;
			}





.blue
	.pagination
		li
			{
				border-color: #4AB2D0 !important ;
				background: #fff ;
			}

.blue
	.pagination
		li.true
			{
				border-color: #4AB2D0 !important ;
				background: #4AB2D0 ;
			}






.pagination
	li 
		a
			{
				padding: .3rem .2rem .2rem .2rem ;
				display: block ;
				font-size: .6rem ;
				font-weight: bold ;
			}
			
.pagination
	li:hover 
			{
				-webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
				box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
				cursor: pointer ;
				margin-top: -1px ;
				margin-right: .6rem ;
				margin-bottom: 1px ;
				margin-left: .4rem ;
			}
			
.pagination
	li
		input[type=radio]
			{
				opacity: 0.01 ;
			}