/* CSS Document */
.toolbar
			{
				border: 1pt solid #ddd ;
				background-color: #eee ;
				padding: 0 ;
			}
			
.toolbar p
			{
				padding: 0 ;
				font-size: .7rem ;
			}

.reactor						
			{ 
				background-color: #fff ; 
				padding: 0rem ; 
				clear: both ;
				margin: 1rem 0 ; 
				overflow: auto ;
			}
			


h1 p {margin:0; padding:0;}

.metadata
			{
				padding: 1rem ;
			}

ul.tabs 
			{
				list-style-type: none ;
				list-style-position: inside ;
				margin: 0px ;
				padding: 0px ;
			}

.tabs
	li
			{
				display: inline-block ;
			}

.tabs 
	li 
		a
			{
				text-decoration: none ;
				padding: .25rem 1rem ;
				background-color: #aaa ;
				border: 1pt solid #ddd ;
				display: block ;
				color: #222 ;
			}

.tabs 
	li 
		a:visited
			{
				background-color: #aaa ;
				color: #222 ;
			}

.tabs li a:hover, .tabs li a:focus
			{
				border: 1pt solid #aaa ;
				color: #000 ;
			}




.reactor
	.interaction_meta_data
			{ 
				background-color: #ddd ;
				padding: 1% ;
				font-size: .8rem ;
				position: relative ;
			}




.reactor
	.interaction_meta_data
		div
			{
				display: none ;
				width: 98% ;
				background-color: #ccc ;
				padding: 1% ;
				border-bottom: 1pt solid #aaa ;
			}


			

.reactor
	.interaction_details
		label
			{
				/*width: 20% ;*/
				/* padding: 1% ; */
				margin: 0 ;
				display: inline-block ;
			}
			
.reactor
	.interaction_details
		input[type=text],
.reactor
	.interaction_details
		span
			{
				width: 74% ;
				padding: .5% 1% ;
				margin: 0 ;
				display: inline-block ;
				font-size: .8rem ;
			}


.reactor
	.entries_container 
			{ 
				margin: 0 auto ; 
				background-color: #fff ;
				display: block ; 
			}


.reactor
	.entry_of_entries
			{
				margin: 0 ;
				font-size: .8rem ;
				text-align: center ;
			}










.reactor
	.entries	
			{ 
				/* white-space: nowrap ;  */
				list-style-type: none ; 
				list-style-position: inside ;
				margin: 0rem auto ;
				padding: 0rem ; 
				/* overflow: hidden ;  */
				overflow: auto ;
			}

.reactor
	.entry		
			{ 
				display: inline-block ; 
				padding: 1% ; 
				margin: 1% ; 
				list-style-position: inside ; 
				width: 95.5% ;
				background-color: #f0f0f0 ; 
				font-size: 1.2rem ; 
				border: 1pt solid #ccc ;
				/*height: 350px ;*/
				overflow: auto ;
			}
			
.reactor
	.entry	
		h1	
			{ 
				margin: 0 0 1rem 0 ; 
			}

.reactor
	.entry >
		div
			{ 
				margin: 0px ; 
				padding: 0px ;
			}
/*
.reactor
	.entry 
		div 
			p
			{ 
				margin: 1% ; 
				padding: 0px ; 
			}
*/

.reactor
	.entry 
		label
			{ 
				font-size: 1rem ; 
				/* padding: 1% 1% ;   */
				/* width: 16% ;  */
				display: inline-block ; 
			}

.reactor
	.entry 
		input[type=text]
			{ 
				font-size: 1rem ; 
				padding: 1% 1% ;
				width: 78% ;
			}

.reactor
	.entry 
		.long_question_text
			{ 
				font-size: 1rem ; 
				padding: 1% 1% ;
				width: 98% ;
				min-height: 2rem ;
			}

.reactor
	.entry
		textarea
			{ 
				font-size: 1rem ;
			}


.reactor
	.entry
		.entry_text
			{
				width: 97% ;
				padding: 1% ;
				min-height: 256px ;
				margin:0px ;
			}

.reactor
	.answer_options_container
			{
				display: inline-block ;
				vertical-align: middle ;
				min-height: 270px ;
				width: 68% ;
				margin: 1% ;
			}

.reactor
	.entry_text_container
			{
				display: inline-block ;
				/* border: 1pt solid #0f0 ; */
				vertical-align: middle ;
				/*min-height: 270px ;*/
				/*width: 68% ;*/
				margin: 1% ;
			}
	
.reactor		
	.hero
			{
				margin: 0rem 1rem 0rem 0rem ;
				/* border: 1pt solid #0f0 ; */
				background-color: #ccc ;
				display: inline-block ;
				padding: 1rem ;
				float: left ;
			}

.reactor
	.hero 
		.image
			{
				margin: 0rem !important ;
			}
			
			





.entry
			{
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none ;
				cursor: default ;
			}



.reactor 
	.question_text
			{
				background-color: #ddd ;
				border: 1pt solid #ccc ;
				padding: .25rem 1rem ;
				margin: 0 0 .5rem 0 ;
			}






.reactor 
	.answers 
			{ 
				overflow: hidden ; 
				display: block ; 
				width: auto ; 
				list-style-type: none ;
				margin: 0 ;
				padding: 0 ;
				height: 220px;
				overflow: auto ;
			}

.reactor
	.answers
		li
			{
				margin: 0 0 1% 0 ;
				padding: 1% ;
				background-color: #fff ;
				
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none ;
				
				clear: both ;
			}

.reactor
	.answers
		li.selected_true
			{
				border: 1pt solid #000 ;
				/*background-position: right -68px ;*/
			}
			





.reactor .answers li.selected_true:hover
			{
				border: 1pt solid #000 
			}
			
.reactor
	.answers 
		li
			.feedback
			{
				display: block ;
			}


.reactor
	.answers 
		li.selected_true 
			.feedback
			{
				display: block ;
				margin-top: 1rem ;
				background: #B31B1D ;
				border: 1pt solid #fff ;
				color: #fff ;
				padding: 1% ;
			}
			
.reactor
	.answers 
		li[rel=true].selected_true 
			.feedback
			{
				background: #39AE0D ;
				color: #fff ;
			}



.reactor
	.answers
		> li
			.feedback_sprite
				{
					display: inline-block ;
					background-image: url(../img/sprites/feedback.png) !important ;
					background-repeat: no-repeat !important ;
					background-position: center 0 ;
					min-height: 64px ;
					min-width: 64px ;
					vertical-align: middle ;
					margin: -2% -2% -2% -1% ;
				}

.reactor
	.answers
		li.selected_true
			.feedback_sprite
				{
					background-position: center -64px ;
				}

.reactor
	.answers
		li[rel=true].selected_true
			.feedback_sprite
				{
					background-position: center -128px ;
				}

.reactor 
	.answers 
		.answer_indicator
			{
				float: left ; 
				display: inline ; 
				margin-right: 1rem ; 
				padding: 0 1% ;
				background-color: #ccc ;
			}


.reactor
	.answers
		li
			{
				border: 1pt solid #eee ;
				background-color: #fff ;
			}
			
.reactor
	.answers
		li:last-child
			{
				margin-bottom:0;
			}

.reactor
	.answers
		li:hover
			{
				border: 1pt solid #aaa ;
			}

.reactor
	.answers
		li.true
			{
				border: 1pt solid #cfc ;
				background-color: #cfc ;
			}
			
.reactor
	.answers
		li.true
			.feedback_sprite
				{
					background-position: center -128px ;
				}
			
.reactor
	.answers
		.false
			{
				border: 1pt solid #eee ;
			}

.reactor
	.answers
		li.false
			.feedback_sprite
				{
					background-position: center -64px ;
				}

.reactor
	.answers
		.false:hover
			{
				border: 1pt solid #eee ;
			}

.reactor
	.answers
		li
			label.answer_label
			{
				margin: 0 ;
				padding: 1% ;
				width: auto ;
				display: inline-block ;
				overflow: hidden ;
				vertical-align: middle ;
			}


.reactor
	.answers
		li:hover
			{
				/*background-color: #eee ;*/
			}

.reactor
	.answers
		p
			{
				margin: 0px ;
			}			



.entries_controls
			{ 
				margin: 1% ; 
			}
.entries_controls input[type=button]
			{
				margin: 1% 2px ;
			}


.text_container
			{
				padding: 1% 0 ;
			}













			

	


	
	
	
	
	
	
	




.rounded_5
	{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
.rounded_10
	{
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

.rounded_15
	{
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

.rounded_20
	{
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}