<h1>Dashboard</h1>

<div>
	<p>Welcome back, {{user.account.first_name}}</p>
</div>

<div class="new_reactors">
	<ol>
		<li><strong>Create</strong> a new Reactor Template (top level users only)</li>
		<li><strong>Renovate</strong> an existing Reactor Template (top level users only)</li>

		<li><strong>Populate</strong> an existing Reactor Template</li>
		<li><strong>Generate</strong> an output version of a Reactor</li>
		<li><strong>Emulate</strong> an existing Reactor</li>
		<li><strong>Decorate</strong> an existing Reactor (theming)</li>
	</ol>
</div>

<div class="new_reactors">
	<h2>Create a new Reactor from an existing template</h2>
	<ul><li ng-repeat="reactor in user.account.available_reactor_templates"><a href="#/create/{{reactor.meta.type}}/{{reactor.meta.type}}_{{date | date:'yyyyMMdd' }}/0/">{{reactor.meta.pretty_type}}</a></li></ul>
</div>

<div class="existing_reactors">
	<h2>Your Reactors</h2>
	<table style="text-align: center ;">
		<tr>
			<th>Title</th>
			<th>Type</th>
			<th>Edited</th>
			<th>Edit</th>
		</tr>
		<tr ng-repeat="reactor in user.account.available_saved_reactors">
			<td><a href="#/edit/{{reactor.meta.id}}/0/">{{reactor.meta.title.text}}</a></td>
			<td>{{reactor.meta.pretty_type}}</td>
			<td>{{reactor.meta.edited}}</td>
			<td><a href="#/edit/{{reactor.meta.id}}/1/">Renovate</a></td>
		</tr>
	</table>
</div>

<div class="user_details">
	<h2>Your user details</h2>
	<p><strong>Name</strong>: {{user.account.first_name + ' ' + user.account.last_name }}
</div>