
<!--
<p ng-if="data.type != undefined">Data.type: <input type="text" ng-model="data.type" value="{{data.type}}"></p>
<p ng-if="data.pretty_type != undefined">Data.pretty_type: <input type="text" ng-model="data.pretty_type" value="{{data.pretty_type}}"></p>
-->
<select ng-model="selected" size="20" multiple="true" style="width: 100px ;">
	<option ng-repeat="(key, value) in data">{{key}}</option>
</select>

<br>

<div ng-if="selected != ''" style="border: 1pt solid #ccc ;">Selected: {{ data[ selected ] }}
</div>
<!--
<ul ng-repeat="(key, value) in data">
	<li>{{key}} <span ng-if="value.type == undefined">: {{ value }}</span> </li>  
</ul>
-->

<p>Data: {{ data[ selected ] | json }}</p><!-- -->


































<!--




v2

Sorry I blasted you.

I've made sense of the whole thing, start to finish and you can read through it, or not. Your call.

When I admitted I liked you, your fear of commitment flared up. I wasn't after anything serious so I didn't understand it. It was a big thing for me to admit that to you, I tried to get me head around it but eventually it cut right down into my abandonment issues. The situation that would have messed with anyone, let alone someone who works for your father, has been abandoned repeatedly and is already dealing with other major shit. I tried not to put my drama on you but I’m not a robot, y’know, the whole situation (not just your part) hit me really hard.

I guess you thought I was being clingy trying to talk to about it but I'd already given up on anything happening with you. I knew this was one of those big hits of life and all I wanted from you was enough info to help me understand what the hell actually happened so I could get my head around it and move on with my life. The biggest thing for me was to make sure I never went through anything like that again. 

If you hadn't told me that you confuse people until they stop asking questions, and acted so evasive afterwards, I wouldn’t have doubted everything you said but that's what happened. I wanted to trust you but I didn't know you well enough to. Maybe you were avoiding italking because you didn't understand your own behaviour, I don't know, all I know is that avoiding it only raised more questions and made the situation even more confusing. 

I’d known you for years at that point and with all that charity stuff you do, and you having triggered the situation in the first place, I couldn't understand how (or why) you could just leave me to suffer like that. I’m leaving a shitload out here but let me not understate this, torture is about the only word that even comes close. seriously, don’t even know half of it. 

You think I wouldn't let it go, like I had a choice. I never would have tried to talk to you about any of it if there was any other option. Conceding that I needed to talk to you about it was completely humiliating but I knew what was coming if I didn't. I thought asking would be the hard part, I never expected you to avoid it like that.

My girlfriend has been working in the psych ward for the last 6 months. She knows all the details and she told me that anyone else would have had a complete mental breakdown under those circumstances and that the only reason I didn't is pure will power. I don't know about that, I just know it was the worst couple years of my life.

But it's over now and figuring it all out was like waking from a nightmare.

I did the wrong thing and I sincerely regret that but that doesn’t change how you behaved. Everything I went through in relation to this all comes down to the fact that you were afraid.





















v1

I'm sorry I blasted you.

I've made sense of the whole thing. When I admitted I liked you, your fear of commitment flared up. I wasn't after anything serious, so I didn't understand why you ran away, which flared up my abandonment issues.

It would have be confusing for anyone, anytime, let alone for someone who was working for your father and was already dealing with other major shit of his own. Of course it affected me. How could it not?

My best guess is that you thought I was being clingy by trying to talk to you. In reality I'd given up on anything happening with you, I just needed to understand what really happened so I could quiet down my demons and get my head around it all so I could move on with my life. 

Maybe if you hadn't told me that you confuse people until they stop asking questions, it wouldn't have bothered me as much and maybe you were avoiding talking to me because you didn't understand your own behaviour. Whatever the reason, it came across like you were afraid of me and that left even more questions I needed answered. 

I wasn't angry at you. I didn't blame you. I just know what the hell was going on. I wanted to move on and you were the only person I could ask for help with that. With all charity stuff you do, and having known me so long, and having triggered the situaion, I couldn't understand how you could just leave me to suffer like that. I don't want to understate the suffering by the way, I think I had a 2+ year glimpse into hell. 

Figuring it all out was like waking from a nightmare. 

I realise that in your version of this story, I'm the monster. You saw me at my worst and I am very sorry for that. I never intended to hurt you, or at least not until I thought you were mocking me for being in the impossible situation you left me in.

I did the wrong thing and I am sincerely sorry for that. Don't get confused though, I certainly believe you owe me an apology too, but that's on your conscience, not mine.
I hope things are working out for you.

-->