
<!--
<p ng-if="data.type != undefined">Data.type: <input type="text" ng-model="data.type" value="{{data.type}}"></p>
<p ng-if="data.pretty_type != undefined">Data.pretty_type: <input type="text" ng-model="data.pretty_type" value="{{data.pretty_type}}"></p>
-->
<select ng-model="selected" size="20" multiple="true" style="width: 100px ;">
	<option ng-repeat="(key, value) in data">{{key}}</option>
</select>

<div ng-if="selected != ''" style="display: inline-block ; border: 1pt solid #ccc ; vertical-align: top ; width: 100px; ">
<label style=" max-width: 96% ;">Selected: <input style="display: inline-block; max-width: 90% ;" type="text" ng-model="data[ selected ]" /></label>
</div>
<!--
<ul ng-repeat="(key, value) in data">
	<li>{{key}} <span ng-if="value.type == undefined">: {{ value }}</span> </li>  
</ul>
-->
<br>

<div style="display: inline-block ; border: 1pt solid #ccc ; vertical-align: top ; width: 100px ;">
<p>Data: {{ data[ selected ] | json }}</p><!-- -->
</div>











































<!--



v7

Sorry i blasted you. are you alright?

i figured everything out some time last year. i'm only telling you because i figure it might be helpful.

i don’t think you realised but you freaked yourself out with your fear of commitment. because i wasn't actually after a commitment, which is why i was so confused about it and like some cosmic joke, the situation slowly ripped open my abandonment issues, meaning i needed to talk to you so i could understand what happened and escape my demons, but your demons left you too scared to let that happen, and because i didn't know what was going on it started to look like you were scared of me, which only made things worse. i was trapped in an impossible position.

the best analogy i can come up with is that you accidentally jabbed a knife into me that i couldn't get out on my own, and when i asked you to help to get it out, you ran away in fear of the knife hanging out of me.

you didn't seem to understand that having your boss's daughter freak out on you is a big deal, so i don’t think i'll bother to try explain the rest, but you should know i went through the darkest time of my life as result of the situation i was in and it was pure dumb luck that i managed to figure out what really played out. when i did, all that confusion and stress disappeared. it was like i woke up from a nightmare. 

you caused me a lot of suffering but it’s fair to say we both did things wrong. i really do regret my side of it. it cut me to realise that i'm the monster in your version and i'm sincerely sorry for putting you through that.

i still can't believe all the coincidences and circumstances that had to fall in place for it to play out the way it did. i can't tell you how frustrating it is to discover that it really was just a misunderstanding. i guess that's just life and at least i've been able to move on. 

i prefer for things to be resolved where possible so if there is something i can do to help undo the damage, please let me know. otherwise i'll just wish you well and leave you be.

take care,
andrew.

































v6


Sorry i blasted you.

are you ok?

i figured it all out last year and have been meaning to tell you since. 

it turns out that you freaked yourself out with your fear of commitment and i guess you didn't realise that yourself, so how was i supposed to know?. i wasn't actually after a commitment so i was left very confused and, like some cosmic joke, that slowly ripped open my abandonment issues. i needed to understand what happened to escape my demons but your demons left you too scared for that and because i didn't know what was actually happeing, it seemed like you were scared of me and that only made it worse and left me scared of afraid of many things myself.

you didn't seem to understand that having your boss's daughter freak out on you is a big deal, so there's no point me trying to explain the rest but i went through the darkest time of my life as result of it all. that is, right up until by pure dumb luck, i figured out what really played out, and suddenly all that confusion and stress dissappeared. it was like waking from a nightmare. 

i regret things i said to you and i understand i'm the monster in your version of this story. that cuts me but there's not much i can do about it now except to tell you i'm sincerely sorry.

i still can't believe all the coincidences that had to come together for it to play out the way it did and it really sucks that it actually was just a misunderstanding, but i guess that's just life. 

at least it's over.

just so you know, it could never have cut so deep if i hadn't thought so very highly of you in the first place.

take care,
andrew.




















v5

Sorry I blasted you.

I've made sense of the whole thing. It's your choice to read what I have to say or to choose not to, but I think it'll help. It certainly helped me.

I get through difficult situations by facing them head on, figuring out what happened, and apologising for whatever bits were my fault. Then I feel like shit for a while and soon enough, I move on with my life. After that I try not to make the mistake again. Turns out there's a flaw in that approach, if I can't figure out what happened, I get trapped in the feeling like shit phase, and that turns out badly.

Hindsight reveals things sometimes. I think most of your confusing behaviour, was driven by fear, mine too. When I started to look at it like that, everything started falling into place and I realised that in your version of the story, I’m the monster. I can’t change what happened but I was wrong to go off at you like that and I'm sorry. Sincerely, I regret it.

What I think happened is that when I admitted I liked you, your fear of commitment flared up. But I wasn't after anything serious, so I didn't connect those dots and I ended up trying to figure out what I'd done wrong. I took a big risk admitting I was interested in you and I wasn't prepared for you to turn your back on me and shut it down like that. It didn’t make sense, you’d put in all that effort. It felt kinda like you stole something from me. Unfortunately, that ties in with me having a history of being abandoned and a few of other significant elements from my past.

I guess you thought I was being clingy by trying to talk about it all with you but I'd actually given up on anything happening with us and I was just trying to move on with my life. In hindsight I guess you were evasive because you didn't understand why you'd reacted the way you did. That's understandable but it wasn't very helpful and it made it difficult to tell if you were a genuine person going through a rough time, or a reckless person avoiding dealing the fallout of her actions. Those two options would inspire very different responses, either kindness and understanding, or immediate removal from my life.

Admitting that I was struggling and needed your help was torture for me but I decided it was worth it if it'd let me get on with my life. To humiliate myself and ask and have you decline to help was yet another kick in the guts. It also lead me to suspect you were more on the reckless, rather than genuine side of things. 

I don’t want to harp on this but from my perspective, I didn’t make things weird, you did. I just tried to deal with the screwed up situation you put me in and after leaving my job and moving to get away from you, you told my girlfriend's close family friend that I made things weird, and I’d let you get away with so much for so long, it pushed me over the edge.

Figuring this all out was like waking up from a nightmare. Maybe I’m right, maybe I’m wrong, it doesn’t even matter. There was a good 2 year stretch where I went through the worst suffering of my life. I'm just glad it’s over with. 

I hope you're doing well,
Andrew.






























v4

Sorry I blasted you.

I've made sense of the whole thing. It's your choice to read this or not, but I think it'll help. It certainly helped me.

I think when I admitted I liked you, your fear of commitment flared up and because I wasn't actually after anything serious, I didn't realise that and I got all caught up trying to figure out what I'd done wrong.

I took a big risk there and I just wasn't prepared for you to turn your back on me and shut it down like that. It felt kinda like you stole something from me and, unfortunately for me, that all ties in with my history of abanment and a bunch of other things from my past.

I've always made it through difficult situation with my fool-proof way of dealing with things, which is to face the situation head on, figure out what happened and if any of it was my fault. I apologise if I should and feel like shit for a while either way, and then I move on and make sure to never make that same mistake again. It's served me very well but there's a serious flaw in that system. If you can't figure out what the hell happened, you get trapped in the feeling like shit phase, and that's no good for anyone.

So, I guess you thought I was being clingy trying to talk about it with you but I'd actually given up on anything happening and was just trying to move on with my life. In hindsight I guess you were avoiding it because you didn't even understand why you'd reacted the way you did and that's understandable but it sure wasn't very helpful. The fact that you'd told me you confuse people until they stop asking questions certainly didn't help either.

I did want to trust you but I didn't know you well enough for that and you'd been acting so strangely that I couldn't tell if you were a genuine person going through a rough time, or a reckless person avoiding the fallout of her actions. Those two options require very different responses, kindness and understanding versus immediate removal from my life.

You'd tell me to let it go, like I had any choice in it. Do you think a guy in his 30s is really going to hassle his boss's daughter to talk to him unless it's actually necessary? Admitting I was struggling and needed your help was torture for a guy like me but I thought it was worth it if it'd get all that shit off my mind. To humiliate myself like that and then have you avoid helping me was just another kick in the guts and it lead me to suspect you were more on the reckless, rather than genuine side of things.

There was no one else to ask and you were in a position of power over me so I couldn't be as aggressive as usual. I put up with you avoiding it for a very long time and I tried to be nice about it, but holy shit was it pissing me off. My worst memories were playing on loop in my head all day and I couldn't even concentrate anymore and you were just leaving me trapped like that because you refused to give me half an hour of your time.

I was in a very dark and difficult situation and when you told my girlfriend's close family friend I made it weird, that was the end of it. After being so gentle about it for so long, I was absolutely furious and I couldn't hold it back any more.

I did the wrong thing going off at you like that and I'm sorry. I sincerely do regret it. Maybe you at least understand why, now. 

Figuring this all out was like waking from a nightmare. I wish you would have just talked with me, y'know? It was just a misunderstanding and there was no need for all of this.

I'm sure I've understated just how badly this all affected me. Seriously, you have no idea. I'm just glad it's done.


























v3

Sorry I blasted you.

I've made sense of the whole thing. It's your choice to read it or not but I think it might help.

I think when I admitted I liked you, your fear of commitment flared up. I wasn't actually after anything serious though, so I didn't connect those bits, I just tried to figure out what I'd done wrong.

You won't admit it, but you know that your behaviour was pretty confusing. Actually, if you'd never admitted that you didn't understand it yourself, I never would have figured this all out. 

Anyway, I took a big risk admitting my interest in you. You were my boss's daughter and I was already dealing with other major things but I did it anyway. I liked you and you seemed genuinely upset and I thought it might be fun sneaking around with you while we figured out if it was worth persuing. 

I definitely didn't expect you to turn your back on me and shut it down like that. It felt like you stole something from me and unfortunately for me, the whole thing tied in with me having a rough history of abanment. I was trying to make sense of it all but I needed details from you. For whatever reason, you avoided providing it.

I guess you thought I was being clingy but I'd given up on anything happening with you. I was still interested of course but I just wanted to move on with my life. In hindsight, I guess you were avoiding it because you didn't understand your own behaviour. That's understandable but it certainly wasn't helpful and you'd told me that you confuse people until they stop asking questions, and then started trying to confuse me. It was insulting. I wanted to trust you but I didn't know you well enough to know if you were a genuine person going through a rough time, or a reckless person avoiding the fallout of your actions and those two options require different responses, either kindness and understanding, or immediate removal from my life.

You'd tell me to let it go like I had a choice. You smashed me and brought out my inner demons and I thought admitting that and asking you for help was going to be the hardest part, but having you avoid dealing with it was way worse. It looked a whole lot like you were just playing games with me, which lead me to think you were more on the reckless side. I tried to put up with it but it pissed me off. There was nothing I could do though, there was no one else to ask. 

When you told my girlfriend's close family friend I was the one that made it weird, that was the end of it. I was furious. I did the wrong thing going off at you like that. I'm sorry. I sincerely regret it. That doesn’t mean I'm ok with how you behaved but I am sorry for how I responded. 

Figuring this all out was like waking from a nightmare.

Seriously, you don't know the half of what I went through.
























v2

Sorry I blasted you.

I've made sense of the whole thing, start to finish and you can read through it, or not. Your call.

When I admitted I liked you, your fear of commitment flared up. I wasn't after anything serious so I didn't connect those parts. It was a big thing for me to admit that to you, and the way you reacted eventually cut right down into my abandonment issues. I was trying to make sense of the whole thing to avoid that happening but I needed information from you and, for whatever reason, you avoided providing it.

That's a situation that would be hard on anyone, let alone someone who works for your father, who's been abandoned repeatedly, and is already dealing with other major shit like workplace bullying. 

I tried to deal with it but I’m not a robot, y’know, it hit me really hard and I could barely keep it together.

I guess you thought I was being clingy but I'd given up on anything happening with you. I knew this was one of those big hits in life and to understand what the hell actually happened so I could get my head around it so I could move on with my life and make sure I never go through anything like that again. 

If you hadn't told me that you confuse people until they stop asking questions, and acted so evasive afterwards, I wouldn’t have doubted everything you said but that's what happened. I wanted to trust you but I didn't know you well enough to and you'd acted so weird, I didn't know if you were a good person having a rough time or a bad person avoiding getting in trouble. 

Maybe you were avoiding talking because you didn't understand your own behaviour, I don't know, all I know is it only raised more questions and made a confusing situation even worse for me.

With all that charity stuff you do, and you having triggered the situation in the first place, I couldn't understand how (or why) you left me to suffer like that. I mean, I’m leaving a shitload out here but I was going through a living hell. Seriously, don’t even know half of it. 

You'd tell me to let it go, like I had a choice. I thought admitting it was tearing me apart and asking you for help would be the hard part, I never expected you to avoid it like that. 

My girlfriend has been working in the psych ward for the last 6 months. She knows all the details and she told me that anyone else would have had a complete mental breakdown under those circumstances and that the only reason I didn't is pure will power. I don't know about that, I just know it was the worst couple years of my life.

But it's over now and figuring it all out was like waking from a nightmare.

I did the wrong thing and I sincerely regret that but that doesn’t change how you behaved. Everything I went through in relation to this all comes down to the fact that you were afraid.





















v1

I'm sorry I blasted you.

I've made sense of the whole thing. When I admitted I liked you, your fear of commitment flared up. I wasn't after anything serious, so I didn't understand why you ran away, which flared up my abandonment issues.

It would have be confusing for anyone, anytime, let alone for someone who was working for your father and was already dealing with other major shit of his own. Of course it affected me. How could it not?

My best guess is that you thought I was being clingy by trying to talk to you. In reality I'd given up on anything happening with you, I just needed to understand what really happened so I could quiet down my demons and get my head around it all so I could move on with my life. 

Maybe if you hadn't told me that you confuse people until they stop asking questions, it wouldn't have bothered me as much and maybe you were avoiding talking to me because you didn't understand your own behaviour. Whatever the reason, it came across like you were afraid of me and that left even more questions I needed answered. 

I wasn't angry at you. I didn't blame you. I just know what the hell was going on. I wanted to move on and you were the only person I could ask for help with that. With all charity stuff you do, and having known me so long, and having triggered the situaion, I couldn't understand how you could just leave me to suffer like that. I don't want to understate the suffering by the way, I think I had a 2+ year glimpse into hell. 

Figuring it all out was like waking from a nightmare. 

I realise that in your version of this story, I'm the monster. You saw me at my worst and I am very sorry for that. I never intended to hurt you, or at least not until I thought you were mocking me for being in the impossible situation you left me in.

I did the wrong thing and I am sincerely sorry for that. Don't get confused though, I certainly believe you owe me an apology too, but that's on your conscience, not mine.
I hope things are working out for you.

-->