<!--<div class="entries_controls" ng-if="reactor.navigation.controls.options.include && reactor.state.editing">-->
	<span ng-repeat="button in reactor.navigation.controls.buttons" class="{{button.subtype}}_entry_button">
		<input ng-disabled="reactor.navigation.controls.settings.edit.locked" type="checkbox" ng-model="button.include" /><input ng-disabled="reactor.navigation.controls.settings.edit.locked" type="text" size="8" ng-model="button.label" />
	</span>

	<br />
	<span ng-if="reactor.state.editing" unlocker settings="reactor.navigation.controls.pagination.settings"></span>
	<span includer element="reactor.navigation.controls.pagination"></span>
	<br ng-if="reactor.state.editing" />
	<div ng-if="reactor.navigation.controls.pagination.options.include" pagination reactor="reactor"></div>

<!--</div>-->