<div ng-if="!text.settings.edit.locked" class="controls">
	<span unlocker settings="text.settings"></span>
	<span reactor-controls element="text" ng-if="text.settings.edit.editable && !text.settings.edit.locked"></span>
</div>


	<!-- if available to edit -->
	<div ng-if="!text.settings.edit.locked" ng-switch="text.settings.type">

		<div style="width:100%;" ng-switch-when="single">
			<input 
				type="text" 
				ng-disabled="!text.options.include || text.settings.edit.locked" 
				style="width:100%; margin:0px ; padding:0px ;"
				value="text.text" 
				ng-model="text.text" 
			/>
		</div>

		<div ng-switch-when="multiple">
			<textarea 
				ng-disabled="!text.options.include || text.settings.edit.locked" 
				class="full_width" 
				ng-model="text.text" 
				>
			</textarea>
			<p ng-if="text.settings.edit.locked">{{text.text}}</p>
		</div>
		
	</div>
	

	<!-- if not available to edit -->
	<p ng-if="text.settings.edit.locked"><span unlocker settings="text.settings"></span>{{text.text}}</p>
