
	<div class="reactor {{reactor.type}} {{reactor.theme.selected}}">

		<div metadata reactor="reactor"></div>

		<div class="entries_container">

			<div style="margin: 0 1% 0 1% ;"><input ng-if="reactor.state.editing" type="button" value="add a slide +" ng-click="reactor.add()"></div>

			<ul reactor-entries reactor="reactor" class="entries" style="list-style-type: none ;"></ul>
			
		</div>

		<!-- entries controls -->
		<div class="entries_controls" ng-if="reactor.navigation.controls.options.include && !reactor.state.editing">
			<input type="button" 
				ng-repeat="button in reactor.navigation.controls.buttons" 
				class="{{button.subtype}}_entry_button" 
				value="{{button.label}}" 
				ng-click="reactor.navigation.goto( button.response )" 
				ng-if="button.include"
			/>

			<div pagination reactor="reactor" ng-if="reactor.navigation.controls.pagination.options.include"></div>

		</div>
		
		<!-- entries controls -->
		<span ng-if="reactor.state.editing" unlocker settings="reactor.navigation.controls.settings"></span>
		<span ng-if="reactor.state.editing" includer element="reactor.navigation.controls"></span>
		<br ng-if="reactor.state.editing" />


		<div class="entries_controls" ng-if="reactor.navigation.controls.options.include && reactor.state.editing">
			
			<span ng-repeat="button in reactor.navigation.controls.buttons" class="{{button.subtype}}_entry_button">
				<input ng-disabled="reactor.navigation.controls.settings.edit.locked" type="checkbox" ng-model="button.include" /><input ng-disabled="reactor.navigation.controls.settings.edit.locked" type="text" size="8" ng-model="button.label" />
			</span>

			<br />
			<span ng-if="reactor.state.editing" unlocker settings="reactor.navigation.controls.pagination.settings"></span>
			<span includer element="reactor.navigation.controls.pagination"></span>
			<br ng-if="reactor.state.editing" />
			<div ng-if="reactor.navigation.controls.pagination.options.include" pagination reactor="reactor"></div>
		</div>

	</div>