<div class="toolbar {{reactor.theme.selected}} {{reactor.theme.corner_style}}">

	<span style="float:left; margin-right: 1rem;"><a class="button" ng-click="reactor.save()">Save</a><a class="button" ng-click="reactor.export()">Export</a></span>


	<span style="margin: .5rem 1rem ; float: right ;">
		<label><input type="radio" name="edit_mode" ng-value="false" ng-model="reactor.state.editing" /><strong>Preview</strong></label>
		<label><input type="radio" name="edit_mode" ng-value="true" ng-model="reactor.state.editing" /><strong>Edit</strong></label>
	</span>



	<p>
		<strong>ID</strong>: {{ reactor.id }}
		<strong>Version</strong>: {{reactor.meta.version}}.<br>
		<strong>Last modified</strong>: 
		<span ng-if="reactor.meta.modified">{{reactor.meta.modified | date:'medium' }}</span>
		<span ng-if="!reactor.meta.modified">-</span>

	</p>



	<p>
	
		<span style="margin: 0 1rem ;">
			<label for="theme_select"><strong>Theme</strong>: 
				<select
					 name="theme_select" 
					 ng-model="reactor.theme.selected" 
					 ng-options="theme for theme in reactor.theme.available_themes">
				</select>
			</label>
		</span>
	
		<span style="margin: 0 1rem ;">
			<label for="corner_select"><strong>Corner style</strong>: 
				<select
					 name="corner_select" 
					 ng-model="reactor.theme.corner_style">
					 <option value="">Square</option>
					 <option value="rounded_5">Rounded (5px)</option>
					 <option value="rounded_10">Rounded (10px)</option>
					 <option value="rounded_15">Rounded (15px)</option>
					 <option value="rounded_20">Rounded (20px)</option>
				</select>
			</label>
		</span>
		
		
		<span style="margin: 0 1rem ;">
			<label for="output"><strong>Display format</strong>: 
				<select
					 name="output" 
					 ng-model="display.output.selected"
					 ng-options="mode for mode in display.output.entries">
				</select>
			</label>
		</span>
		
		
		<span style="margin: 0 1rem ;">
			<label for="orientation"><strong>Orientation</strong>: 
				<select
					 name="orientation" 
					 ng-model="display.orientation.selected"
					 ng-options="opt for opt in display.orientation.entries"
					 ng-disabled="display.output.selected == 'desktop' || display.output.selected == 'projector' "
					 >
				</select>
			</label>
		</span>
	</p>
	

</div>
<!--<span style="margin:1rem ; font-size: 1rem ; "></span>-->
<!--
<p>
	<a ng-if="reactor.state.editing" class="toggle_button selected">Edit</a> <a ng-if="reactor.state.editing" class="toggle_button" ng-click="reactor.changeEditMode(false)">Preview</a>
	<a ng-if="!reactor.state.editing" class="toggle_button" ng-click="reactor.changeEditMode(true)">Edit</a> <a ng-if="!reactor.state.editing" class="toggle_button selected">Preview</a>
</p>
-->