<span ng-if="reactor.state.editing && answer.settings.edit.locked" unlocker settings="answer.settings" style="float:left; margin-left: -1% ; margin-top: -1% ;"></span>

<p ng-if="reactor.state.editing && !answer.settings.edit.locked" style="margin-left: -1% ; margin-top: -1% ; margin-right: -1% ; background: #fff ; padding: 1% ;">
	<span style="float:left; margin-left: -1% ; margin-top: -1% ;" unlocker settings="answer.settings"></span>
	<span>
		<label><input type="checkbox" ng-model="answer.correct" /> Correct</label>
	</span>
</p>

<span ng-if="reactor.state.editing" style="vertical-align: top ; float: left ;" reactor-feedback-sprite reactor="reactor" answer="answer"></span>

<span ng-if="!reactor.state.editing" style="vertical-align: middle ;" reactor-feedback-sprite reactor="reactor" answer="answer"></span>

<!--<input ng-if="!reactor.state.editing" disabled="true" type="checkbox" ng-model="answer.correct" /></label>-->
<label class="answer_label" ng-if="!reactor.state.editing || answer.settings.edit.locked" ng-disabled="answer.selected">
	<input ng-disabled="answer.selected" type="checkbox" ng-model="answer.selected" style="float:left; margin-right: 1rem ; margin-left: -10000rem ; opacity: 0;" />
	<span class="text_container">{{answer.text.text}}</span>
</label>


<div ng-if="reactor.state.editing && !answer.settings.edit.locked && answer.text.settings.edit.locked" style=" width: auto ; overflow: hidden ; padding:0px ;">
	<span style=" width: auto ; overflow: hidden ; padding:0px ; display: inline-block ;" reactor-text text="answer.text" class="answer_label"></span>
</div>

<div ng-if="reactor.state.editing && !answer.settings.edit.locked && !answer.text.settings.edit.locked" style=" width: auto ; overflow: hidden ; padding:0px ;">
	<p reactor-text text="answer.text" class="answer_label"></p>
</div>


<p ng-if="reactor.state.editing && !answer.settings.edit.locked"><span unlocker settings="answer.feedback.settings"></span>Feedback<span ng-if="!answer.feedback.settings.edit.locked">:</span></p>

<span ng-if="reactor.state.editing && !answer.settings.edit.locked && !answer.feedback.settings.edit.locked" style="clear: both ;" reactor-feedback reactor="reactor" answer="answer"></span>



<span ng-if="!reactor.state.editing" reactor-feedback reactor="reactor" answer="answer"></span>

<br ng-if="reactor.state.editing" style="clear:both" />