<label style="float:right;" ng-if="!reactor.state.editing && answer.selected"><input ng-if="!reactor.state.editing" disabled="true" type="checkbox" ng-model="answer.correct" /></label>
<label class="answer_label" ng-if="!reactor.state.editing">
	<input type="checkbox" ng-model="answer.selected" style="float:left; margin-right: 1rem ;" />
	<span class="text_container">{{answer.text.text}}</span>
</label>


<div ng-if="reactor.state.editing">
	<div class="answer_indicator">
		<label class="answer_label" ng-if="reactor.state.editing"><input type="checkbox" ng-model="answer.correct" /> Correct</label>
	</div>
	<div style=" display: block; width: auto ; overflow: hidden ; padding:0px ;">
		<span ng-if="reactor.state.editing" reactor-text text="answer.text" class="text_container answer_label"></span>
	</div>
</div>