
	<div 
		class="reactor {{reactor.type}} {{reactor.theme.selected}} {{reactor.theme.corner_style}} {{display.output.selected}} {{display.orientation.selected}}"
		 ng-swipe-left="reactor.goto( 'next' )"
		 ng-swipe-right="reactor.goto( 'previous' )"
	>

		<div metadata reactor="reactor"></div>

		<div class="entries_container">

			<div style="margin: 0 1% 0 1% ;" ng-if="reactor.state.editing" ng-switch="reactor.type">
				<input ng-switch-when="slideshow" type="button" value="add a slide +" ng-click="reactor.add( reactor.entries , 'slide' )">
				<input ng-switch-when="quiz" type="button" value="add a question +" ng-click="reactor.add( reactor.entries ,'question')">
			</div>

			<ul reactor-entries reactor="reactor" display="display" class="entries" style="list-style-type: none ;"></ul>
			
		</div>

		<!-- entries controls -->
		<div 
			navigation-controls 
		 	reactor="reactor"
			display="display" 
			class="entries_controls {{reactor.theme.corner_style}}" 
			ng-if="reactor.navigation.controls.options.include && !reactor.state.editing && reactor.entries.length > 1"
		>
		</div>


		
		<!-- entries controls -->
		<span ng-if="reactor.state.editing" unlocker settings="reactor.navigation.controls.settings"></span>
		<span ng-if="reactor.state.editing" includer element="reactor.navigation.controls"></span>
		<br ng-if="reactor.state.editing" />

		<!--  -->
		<div 
			navigation-controls-edit 
		 	reactor="reactor" 
		 	ng-if="reactor.navigation.controls.options.include && reactor.state.editing && reactor.entries.length > 1"
		 	class="entries_controls {{reactor.theme.corner_style}}"
		>
		</div>

	</div>
	
	
	<div>
		<p>Image selector.</p>
	</div>