<a class="button" ng-click="reactor.save()">Save</a> <a class="button" ng-click="reactor.export()">Export</a>



<span style="margin-right: 1rem ;"><label>Edit<input type="radio" name="edit_mode" ng-value="true" ng-model="reactor.state.editing" /></label></span>
<span style="margin-right: 1rem ;"><label>Preview<input type="radio" name="edit_mode" ng-value="false" ng-model="reactor.state.editing" /></label></span>

<span style="margin-right: 1rem ;">
	<label for="corner_select">Corner style: 
		<select
			 ng-if="reactor.state.editing" 
			 name="corner_select" 
			 ng-model="reactor.theme.corner_style">
			 <option value="">Square</option>
			 <option value="rounded_5">Rounded (5px)</option>
			 <option value="rounded_10">Rounded (10px)</option>
			 <option value="rounded_15">Rounded (15px)</option>
			 <option value="rounded_20">Rounded (10px)</option>
		</select>
		<span ng-if="!reactor.state.editing">{{reactor.theme.corner_style}}</span>
	</label>
</span>

<span style="margin-right: 1rem ;">
	<label for="theme_select">Theme: 
		<select
			 ng-if="reactor.state.editing" 
			 name="theme_select" 
			 ng-model="reactor.theme.selected" 
			 ng-options="theme for theme in reactor.theme.available_themes">
		</select>
	</label> 
	<span ng-if="!reactor.state.editing">{{reactor.theme.selected}}</span>
</span>



<!--<span style="margin:1rem ; font-size: 1rem ; "></span>-->
<!--
<p>
	<a ng-if="reactor.state.editing" class="toggle_button selected">Edit</a> <a ng-if="reactor.state.editing" class="toggle_button" ng-click="reactor.changeEditMode(false)">Preview</a>
	<a ng-if="!reactor.state.editing" class="toggle_button" ng-click="reactor.changeEditMode(true)">Edit</a> <a ng-if="!reactor.state.editing" class="toggle_button selected">Preview</a>
</p>
-->