
	<li ng-repeat="entry in reactor.entries" class="entry {{entry.type}}" ng-if="$index == reactor.navigation.state.position.entry_index">

		<div ng-if="!reactor.state.editing">

			<p class="entry_of_entries" ng-if="reactor.navigation.entry_of_entries.options.include"><span entry-of-entries reactor="reactor" index="$index"></span></p>
			<h1 ng-if="entry.meta.title.options.include" class="entry_title">{{entry.meta.title.text}}</h1>

			<!--
			<div ng-if="entry.images.entries.length > 0" style="width: 25% ; float: left ; margin-right: 1% ; background: #ccc ; ">
				<span reactor-image image="entry.images.entries[0]"></span>
			</div>
			-->
			<span ng-if="entry.images.entries.length > 0" reactor-image-container image="entry.images.entries[0]"></span>

			<div class="text_container">{{entry.text.text}}</div>
		</div>

		<div ng-if="reactor.state.editing">

			<input style="float: right ;" type="button" value="x" ng-click="reactor.remove( reactor.entries , $index )">

			<span style="float: left; " includer element="reactor.navigation.entry_of_entries"></span>
			<p class="entry_of_entries" ng-if="reactor.navigation.entry_of_entries.options.include"><span entry-of-entries reactor="reactor" index="$index"></span></p>

			<h1 style="clear: both;"><span reactor-text text="entry.meta.title"></span></h1>
			
			<span ng-if="entry.images.entries.length > 0" reactor-image-container image="entry.images.entries[0]"></span>
			<!--
			<div ng-if="entry.images.entries.length > 0" style="width: 25% ; float: left ; margin-right: 1% ; background: #ccc ; ">
				<span reactor-image image="entry.images.entries[0]"></span>
			</div>
			-->

			
			<div reactor-text text="entry.text"></div>
		</div>

	</li>