<div>
	<p><span unlocker settings="text.settings"></span> 
	<span ng-if="text.settings.allow_type_change" >Type: 
		<select style="font-size: 8pt ; padding: .1rem ;" ng-model="text.settings.type" ng-disabled="text.settings.edit.locked">
			<option style="font-size: 8pt ; padding: .1rem ;" value="single">Single</option>
			<option style="font-size: 8pt ; padding: .1rem ;" value="multiple">Multiple</option>
		</select>
	</span>
	</p>
	<span includer element="text"></span>
	
	<div style="display: block ; overflow: hidden ; border:1pt dashed #ccc ; width: auto ;">
		<input type="text" ng-if="text.settings.type == 'single'" ng-disabled="!text.options.include || text.settings.edit.locked" style="width: 98% ; padding : 1% ;" value="text.text" ng-model="text.text" />
		<textarea ng-if="text.settings.type == 'multiple'" ng-disabled="!text.options.include || text.settings.edit.locked" style="width: 98% ; min-height: 4rem ; padding : 1% ;" ng-model="text.text"></textarea>
	</div>
<div>