/* CSS Document */

.mobile			
			{ overflow: auto !important ; margin: 1rem auto ; }
			
.mobile.landscape 
			{ max-width: 800px ; max-height: 480px ; }
			
.mobile.portrait 
			{ max-width: 480px ; max-height: 800px ; }


.mobile
	.entry_of_entries
			{ display: none ; }
			
			
.mobile.portrait 
	.image_container
			{ display: block !important ; float: none !important ; width: 100% !important ; margin: .25rem auto !important ; }
			

.mobile
	.answers
			{
				height: auto ;
				overflow: hidden ;
			}
			
.mobile.portrait 
	.pagination
			{
				display: none ;
			}