/* CSS Document */

.mobile			
			{ overflow: auto !important ; margin: 1rem auto ; }
			
.mobile.landscape 
			{ max-width: 800px ; max-height: 480px ; }
			
.mobile.portrait 
			{ max-width: 480px ; max-height: 800px ; }
