/* CSS Document */
.print 		{ font-size: .9rem ; height: 100% ; position: relative ; }

.print	
	h1		
			{ font-size: 1.3rem ; color: #000 !important ; }

.print
	.entry
			{ background-color: transparent ; }

.print	
	.question 
		h1		
			{ font-size: 1.2rem ; }
			
.print 
	.answers
			{ height: auto ; }

.print 
	.entries_controls
			{ display: none ; }
