/* CSS Document */
.print * { display: block !imporatnt ; color: #000 !important ; background-color: transparent !important ; float: none !important ; max-height:none !important ; max-width: 94% !important ; height:auto !important ; width: auto !important ; }
